@model SteamBoat.Models.Mission

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Mission</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ListingsMin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ListingsMin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ListingsMax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ListingsMax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceMin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceMin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceMax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceMax)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MissionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
