@model IEnumerable<SteamBoat.Models.Item>


@{
    Layout = "~/views/shared/_layoutgrid.cshtml";    
    }
@{
    ViewData["Title"] = "Items";
}
<table class="table" id="items">
    <thead>
        <tr>
               <th>
                
            </th> <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game)
            </th>
                <th>
                @Html.DisplayNameFor(model => model.Fruit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartingPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activity)
            </th>
        
       
            <th>
                @Html.DisplayNameFor(model => model.Gap)
            </th>
                <th>
                Top Bid
            </th>
            <th>
                My Bid
            </th>
          

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {

    
            var bidcss = "";
            if (item.bid_price < item.max_buy_price )
            {
                bidcss = "red";
            }
            else
            {
                
                bidcss = "blue";
            }

            if (item.bid_price == 0) { bidcss = ""; }


            var mygreen = (item.Gap * 4) - 30;
            var myred = 255 -(item.Gap * 10);
            if (mygreen > 255) { mygreen = 255; }
            if (myred > 255) { myred = 255; }

            var gapcss = "";


            if (item.Gap > 19)
            {
                gapcss = "background-color: rgb(" + (255 - mygreen).ToString() + ",255," + (255 - mygreen).ToString() + ")";
            }
            else
            {

                gapcss = "background-color: rgb(255," + (255 - myred).ToString() + "," + (255 - myred).ToString() + ")";
            }
         

            //ACTIVITY //ACTIVITY //ACTIVITY //ACTIVITY //ACTIVITY //ACTIVITY //ACTIVITY //ACTIVITY 
            var mygreen2 = (item.Activity/ 2.5);
            var myred2 = (255 -((item.Activity/ 2.5)* 8)) ;
            if (mygreen2 > 255) { mygreen2 = 255; }
            if (myred2 > 255) { myred2 = 255; }

            var activitycss  = "";


            if (item.Activity > 74)
            {
                activitycss = "background-color: rgb(" + (255 - (int)mygreen2).ToString() + ",255," + (255 - (int)mygreen2).ToString() + ")";
            }
            else
            {

                activitycss = "background-color: rgb(255," + (255 - (int)myred2).ToString() + "," + (255 - (int)myred2).ToString() + ")";
            }











           

            var gamesearch = "https://steamcommunity.com/market/search?q=" + item.Game.Replace(" Community Items", "").Replace("™", " ").Replace(":", "") + "#p1_price_desc";


                <tr>
            <td>
                <a href="@item.ItemPageURL" target="_blank">
                <img src="/itemimages/@{@item.hash_name_key.Replace(":"," ")}.png" style="height: 60px;" />
            </a>
            </td>
                <td>
                <a href="@item.ItemPageURL" target="_blank">
                @Html.DisplayFor(modelItem => item.Name)
                </a>
            </td>
              <td>
                <a href="@gamesearch" target="_blank">
                @Html.DisplayFor(modelItem => item.Game)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fruit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartingPrice)
            </td>
             <td style="@activitycss">
                @Html.DisplayFor(modelItem => item.Activity)
            </td>
         
        
            <td style="@gapcss">
                @Html.DisplayFor(modelItem => item.Gap)
            </td>
               <td>
                @Html.DisplayFor(modelItem => item.max_buy_price)
            </td>
            <td class="@bidcss">
                @Html.DisplayFor(modelItem => item.bid_price)
            </td>
         
      
        </tr>
}
    </tbody>
</table>
